/*********************************************


**********************************************/
body{
  background-color: black;
  font-family: "Courier New";
  color: green;
}

#poem {
  font-size: 1.2rem;
  color: green;
}

#answer {
  width: 10rem;
  height: 2rem;
  border: 1px dashed green;
}

.found {
  text-decoration: underline;

}
