/*********************************************

Here is a description of any special CSS used.
By default that's nothing.

**********************************************/

#secret-document {
  font-family: monospace;
  font-size: 1.2rem;
  width: 70vw;
  margin: auto;
}

.redacted {
  background-color: black;
  user-select: none;
}

.revealed {
  color: red;
  text-decoration: underline;
}
