/*********************************************

Here is a description of any special CSS used.
In this case it's just padding and margin to 0
and then centring the canvas (and anything else)
using the CSS Grid.

Also hides overflow.

**********************************************/


body {
  background-color: #32e0e3;/* sets starting font background colour */
  font-size: 2.5rem;/* sets font size */
  font-style: oblique; /* sets font */
  text-align: center; /* centres text */
  padding-top: 50px; /* adds space at top of screen */
  overflow: hidden; /* Hide anything that goes off the window size */
  }

/* adds space between colour pickers and readText button */
  footer {
    padding-top: 40px;
  }
